.Circles {
    // visibility: hidden;
    // display: inline-block;

    .circle {
        width: 75px;
        height: 75px;
        border-radius: 100%;
        margin: 25px;
        // opacity: 0;


    }
    .blue {
        background-color: rgb(90, 184, 221);
    }

    .red {
        background-color: rgb(181, 57, 57) !important;
    }

    .yellow {
        background-color: rgb(229, 194, 65) !important;
    }



    .circleContainer {}


}